/*css*/
#fabLabLogo{
    height: 100%;
    border-radius:50%;
    margin-top: 5px;
}
#nav1{
    height: 200px;
}#nav{
    height: 100px;
}
#dropdown1{
    margin-top: 64px;
    
}
#header1{
    display: inline-block;
    font-size:50px;
    margin-left: 210px;
    margin-top: 10px;
}

#inputbody{
    margin-top: 60px;
}
#inhalt{
    margin-top: 70px;
}
#breiter{
    width: 300px;
}
