body {
    
    background-color: coral;
    }


h1 { color: rebeccapurple;
 font-style: bold;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 1.3; 
font-family: monospace;
    
    
    }

p1 { color: white;
font-size: 15px;
line-height: 1.5;
font-family: monospace;
    
}

p2 {color: white;
font-family: monospace;
font-size: 13px;
line-height: 1.3;
    
}