body{
	font-size: 20px;
	background: url(hintergrund.jpg);
	background-position: center;
	background-position: top;
	background-size: 100%;
	font-family: sans-serif;

}
#header{
    font-size: 40px;
    margin-bottom: 10px;
    font-style: bold;
   	padding-bottom: 10px;
}
#bb{

    border-radius: 100%;
    border: 5px solid white;
    padding: 2px;
}
#cc{
	font-size: 30px;
}
.picture {
    column-count: 3;
}
.nav{
	width: 100%;
	background: darkblue;
	height: 100px;
	shape-margin: 100px;
}
ul{
	list-style: none;
	padding: 5px;
	margin: 10px;
}
li{
	float: left;
	margin-top: 30px;
}
a{
	width: 150px;
	color: black;
	display: block;
	text-decoration: none;
	font-size: 20px;
	text-align: center;;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
}
a:hover{
	background: #669900;
	transition: 0s;
}
#dd{
	font-family: sans-serif;
	font-size: 35px;
	display: inline-block;
	shape-margin: top;
    margin-top: 7%;
    margin-left: 29%;

}

.assigment {
    font-family: Vivaldi;
    font-size: 45px;
    border: bold;

}
