.aboutme {
    color: aqua
}

.Improve {
    color: blue;
    font-family:cursive;
    border-style: groove;
    
}

.image {
    padding: 20px;
    width: "80%";
    height: auto;
    max-width: 800px;
    
}

pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    margin-bottom: 10px;
    overflow: scroll;
    width: 1150px;
    padding: 5px;
    background-color: #eee;
    width: 150px!ie7;
    padding-bottom: 20px!ie7;
    max-height: 400px;
    font-size: 10pt;
}