body {
  background: #0E4A35;
    cursor: crosshair;
}

#topic{
    text-align: center;
    font-family: monospace;
    font-size: 50px;  
    color: #F3ED24;
    transition: color 1s;
}

#topic:hover{
    
    color:white;
}


.divs {
    
    width:  300px;
    height: 60px;
    text-align: center;
    background-color: #F3ED24;
    margin: 15px;
    transition: width 2s;    
}

.divs:hover{
    
    width: 400px;
}

.text   {
    
    color: #FFFFFF;
    text-align: center;
    font-family: monospace;
    font-size: 40px;   
    top: 1em;
}

.aboutimg{
    margin: 20px;
    float: right;
    border: 50px;
    border-color: #F3ED24;    
}

#flower{
    width: 200px;
    height: auto;
    float: right;
    
    
}

.aboutme{
    
    color: #FFFFFF;
    text-align: center;
    font-family: monospace;
    font-size: 40px; 
    float: left;
}

#bannerdiv{
    height: 60px;;
    width: auto;
    text-align: center;
    background-color: #F3ED24;
    margin: 15px;
    transition: width 2s; 
}

.list   {
    
    color: #FFFFFF;
    font-family: monospace;
    font-size: 40px;   
}

.backdivs {
    
    width:  300px;
    height: 60px;   
    background-color: #F3ED24;
    margin: 15px;
     
    position: absolute;
        
        top: 41em;
}


.essay   {
    
    color: #FFFFFF;
    text-align: center;
    font-family: monospace;
    font-size: 20px;   
    top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}   

.divc {
    
    width:  300px;
    height: 60px;
    text-align: center;
    align-content: center;
    background-color: #F3ED24;
    margin: 15px;
    margin:auto;
    margin-top: 2em;
    transition: background-color 2s;
     

}

.divc:hover {
     background-color: #FFFFFF;
   
}


.textc  {
    
    color: #FFFFFF;
    text-align: center;
    font-family: monospace;
    font-size: 40px; 
    top: 2.5em;
    text-decoration: none;
}

.textc:hover{
     
    
}

#trees {
    border-style: none;
    margin-left: auto;
    display: flex; 
    justify-content:space-around;
}

#xmaspic1 {
    
    width: 10%;
    height: 10%;
}


#xmaspic2 {
    margin-left: 70%;
    width: 10%;
    height: 10%;
}

#santa {
    
    align-content: center;
}








