#table_projects
{

    border-spacing: 20px;
    margin: auto;
    margin-left: 50px;
    width:100%;
   border-collapse: separate;
}
.table_links {
    text-align: center;
    }
td {
    padding: 50px;
}

#div_table
{
  overflow-x: auto;  
}
body {
    
    background-image: url(Jana_Fire%20copy.jpg);
    background-size: 400px;
    border-image-repeat: repeat-y;
    }


h1 { color: rebeccapurple;
 font-style: bold;
    font-size: 25;
    letter-spacing: 5px;
    line-height: 1.3; 
font-family: monospace;
    background-color: white;
    
}

p1 { color: rebeccapurple;
font-weight: 150;
line-height: 1.5;
font-family: sans-serif;
    font-size: 20;
    background-color: white;
}

p2 {color: black;
font-family: serif;
font-size: 18px;
background-color: white;
line-height: 1.3;
}