h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    background-color: darkblue;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
} 

li {
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    text-align: center;
    width: 80px;
    height: 30px;
    padding: 8px;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

.active {
    background-color: blue;
}

img:not(.license) {
    width:30%; 
    height: auto;
    margin-left: 30%;
}

video {
    margin-left: 30%;
}

.turn {
    transform: rotate(90deg);
}

.small {
    height: 400px;
    width: auto;
}

.big {
    height: 200px;
    width: auto;
    margin-left: 20%;
}