body {
    background-color: ghostwhite;
    margin: 1em;
}

h1 {
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-bottom: 0;
    margin-top: 1em;
}

p {
    margin-bottom: 0;
    margin-top: .5em;
}

a {
    color: #30A186;
}