<!-- Footer -->
 
  
  <div class="foot">
  
      <p> © 2018 Marcello Tania . All rights reserved | marcello.tania@hsrw.org</p>
 
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
      
      Powered by <a href="http://fablab.hochschule-rhein-waal.de/index.php/de/" target="_blank">FabLab Kamplinfort.    </a>
  </div>
