 <!-- Header -->
            <!-- Navigation -->
           <ul class="nav">
                
            <!-- Logo -->
           <div class="logo" >
		      Marcello Tania
	       </div>

            
            
                <li><a href="index.html">Biography</a></li>
	            <li><a href="contact.html">Contact</a></li>
                <li><a href="final.html">Final Project</a></li>
                <li><a onclick="dropDown()" class="dropbtn">Project</a></li>
                
                <div id="myDropdown" class="dropdown-content">
                    <a href="projectManagement.html">1 - Project Management</a>
                    <a href="2DDesign.html">2 - 2D and 3D Design</a>
                    <a href="Week3.html">3 - Laser Cutting</a>
                    <a href="week4.html">4 - 3D Printing</a>
                    <a href="week6.html">5 - CNC Machining</a>
                    <a href="electronics.html">6 - Electronics Production</a>
                    <a href="week7.html">7 - Electronics Design</a>
                    <a href="week8.html">8 - Embedded Programming</a>
                    <a href="week9.html">9 - Input Devices</a>
                    <a href="week10.html">10 - Output Devices</a>
                    <a href="week11.html">11 - Networking</a>
                    <a href="final.html">12 - Final Project</a>

                </div>
               
                
            </ul>



