body{
	margin:0;
	padding: 20px;
    list-style: none;
    background-color: #ffffff;
	color: #000000;
    border-style: hidden;
	font-family: 'Arial', 'serif';
}

foot{
	background-color: #ffffff;
	color: #000000;
	list-style: none;
	text-align: center;
	margin:0;
	padding: 0px 0 0px 0px;
    
    /*fixed bar*/
    position: fixed;
    top: 0;
    width: 100%;
	font-family: 'Arial', 'serif';
}

.nav{
    
	background-color: #ffffff;
	color: #000000;
	list-style: none;
	text-align: right;
	margin-top: 0;
	padding: 20px 0 20px 0px;
    
    /*fixed bar*/
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
	color: #000000;
	float: left;
	padding-left: 20px;
	font-size: 16px;
	font-weight: bold;
}


li {
    font-size: 12px;
	
	color: #000000;
	

}

.nav > li {
	display: inline-block;
	padding: 0 50px 0 0px;
	font-size: 12px;
}

/*erase the hyperlink notation*/
.nav > li > a {
	text-decoration: none;
	color: #000000;

}

/* change colour while the mouse cussor is in the link*/
.nav > li > a:hover {
	color: #c1c1c1;
}

.bio {
	padding: 50px 20px 20px 20px;
	border: 0px ;
	height: 850px;
    min-width: 900px;
}

.biography{
	float: left;
	margin: 10px;
	padding: 10px;
	max-width: 23%;
    min-width: 300px;
	height: 95%;
	border: 1px solid black;

}

.education{
	float: left;
	margin: 10px;
	padding: 10px;
	max-width: 35%;
    min-width: 500px;
	height: 95%;
	border: 1px solid black;

}
.year{
	float: left;
	margin: 0px;
	padding-right: 25px;
	max-width: 35%;
	height: 95%;

}

.schools{
	float: left;
	margin: 0px;
	padding-right: 0px;
	min-width: 180px;
	height: 270px;
}

.schools> p{
	margin: 0px;
	padding: 0px;
}

.yearSchool{
	margin: 0px 0px 10px 0px;
	padding: 0px;
    min-width: 200px;
    min-height: 300px;
	
}



.profilePicture {
    max-width: 100%;
    max-height: 50%;
}


h2 {
	font-size: 50px;
	font-weight: bold;
	color: #000000;
	align-content: center;
	margin-top: 200px;
	text-align: center;
}



/* rscr: https://www.w3schools.com/howto/howto_js_dropdown.asp */
/* Dropdown Button */


.dropbtn {

    display: inline-block;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* Style for documentation */

.document {
	padding: 5px 5px;
	height: 750px;
    min-width: 700px;
}

.index{
	float: left;
    position: fixed;
	margin: 53px 10px 10px 10px;
	padding: 10px;
	max-width: 8%;
    min-width: 200px;
	height: 88%;
	border: 1px solid black;

}

.index > li {
	padding: 0px;
	font-size: 12px;
    list-style: none outside none;
}
.index > h1 {
	padding: 0px;
	font-size: 13px;
}

.subDocument{
	float: left;
	margin: 53px 10px 10px 250px;
	padding: 10px 0px 0px 0px;
	max-width: 800px;
    min-width: 600px;
	height: 80;
	border: 0px solid black;

}
.subDocument > h1 {
	padding: 0 0px 0 0px;
	font-size: 15px;
}

.subDocument > h2 {
    text-align: left;
    text-decoration: underline;
    margin: 10px 0px;
	padding: 0px;
	font-size: 12px;
}

.subDocument > p {
    text-align: left;
    margin: 10px 0px;
	padding: 0px;
	font-size: 12px;
}
.subDocument > h3 {
    text-align: left;
    text-decoration: underline;
    margin: 0px 0px;
	padding: 0px;
	font-size: 12px;
}

#tab {
	margin: 0px 0px 0px 30px;
}



/*MODAL IMAGE*/
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



/*css for code box*/

codeBox {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}
code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}





