body {
    margin:0;
    font-family: "Courier New";
}

header {
    background:url(images/head4.jpg);
    height: 350px;
}

.navbar {
    overflow: hidden;
    background-color: #b7c869;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

.navbar a {
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 16pt;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

h1 {
    margin: 0;
    font-size: 45px;
    line-height: 9;
}

h2 {
    font-family: "Calibri Light";
    font-size: 20pt;
    font-weight: bold;
    margin-left: 260px;
}

h3 {
    font-family: "Calibri Light";
    font-size: 17pt;
    font-weight: bold;
    margin-left: 260px;
}

h4 {
    font-family: "Calibri Light";
    font-size: 14pt;
    font-weight: bold;
    margin-left: 260px;
}

p {
    display: block;
    font-family: "Calibri Light";
    margin-left: 260px;
    margin-right: 260px;
    font-size: 14pt;
    line-height: 1.5;
    text-align: justify;
}

ul li {
    font-family: "Calibri Light";
    margin-left: 500px;
    font-size: 15pt;
    line-height: 1.3;
    display: flex;
    font-weight: bold;
}

table {
    margin-left: 260px;
    margin-top: 70px;
    font-size: 25px;
    font-weight: bold;
    
}

table2 {
    font-family: "Calibri Light";
    font-size: 14pt;
    margin-left: 260px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #b7c869;
}



