#seitentitel {
    color: darkgreen;
    text-align: center;
}
.darkgreen {
    color: darkcyan;
    text-align:center;
}
.darkgrey {
    color: darkgray;
    text-align: center;
}
.darkblue {
    color: darkblue;
    text-align: center
}
.greenyellow {
    border-radius: 2em;
	border: none;
    background-color: greenyellow;
}
.blue {
    border-radius: 2em;
    border: none;
    background-color: azure
}
a {
    color: darkgray;
    padding-left: 1.5em;
    padding-right: 1.5em
}

p {text-align: center;}

