 .paragraphClass {
    margin: 10px;
    font-size: 10;
    color: red;
    background-color: black;
}

body {
    
    color:white;
    font-size: 26;
    
    
}td {
    
    font-size: 26;
    
    
}  
  
td {
    
    font-size: 26;
    
    
}  
#header1 {
    
    color: inherit;
    font-family: cursive;
}