paragraphClass {
    margin: 14px;
    font-size: 14;
    color: red;
    background-color: white;
}

body {
    
    
    color:white;
    font-size: 22;
}
  td {
    
    font-size: 22;
    
    
}  
    
#header1 {
    
    color: inherit;
    font-family: cursive;
}