.paragraphClass {
    margin: 10px;
    font-size:20;
    color: red;
    background-color: yellowgreen;
}

body {
    
    color: white;
    
}
    
#header1 {
    
    color: inherit;
    font-family: cursive;
}