 .paragraphClass {
    color: red;
    background-color: yellowgreen;
} 

 #header1 {
    color: crimson;
    font-family: trebuchet, verdana, sans-serif;
    color: white;
    background-color: black;     
} 

 #header2 {
    color: green;
    font-family: trebuchet, verdana, sans-serif;
} 

 #bold {
    font-weight: bold;
    font-family: trebuchet, verdana, sans-serif;
} 

body {
    background-color: ghostwhite;
    font-family: trebuchet, verdana, sans-serif;   
}

/* /////////////////////////////////// */
/* LINKS */
 #links {
    color: black;
    font-family: trebuchet, verdana, sans-serif;
} 

/* turn off visited */
a:visited {
    color: black;
    text-decoration: none;      
}

a:hover{
    color: red;  
    text-decoration: none;     
}

/* don't underline */
a {
    text-decoration: none;    
}

a:link {
    text-decoration: none;  
}

/* images next to one another */
figure {
    max-width: 600px;
    margin: 1.5em;
    padding: .5em 1.2em;
    text-align: left;
    /*float: left;*/
}

iframe{
    padding: 20px;
}

span {
    display: block;
}

#inline{
    float: left;
}