
#TopHeader {
    padding-top: 20px;
    padding-left: ;
    padding-right: ;
    padding-bottom: 20px;
    color: gainsboro;
    background-color: darkgreen;
    font-size: 3rem;
}

h2 {
    color: dimgray;
    font-size: 2.5rem;
}

h3 {
    font-weight: bold;
}

body {
    background-color: chartreuse;
    padding-bottom: 2rem;
}

footer {
    position:absolute;
    background-color: darkgreen;
    height: 2em;
    width: 100%;
    text-align: center;
}


.left{
    text-align: left;
    vertical-align: middle;
    padding: 10px;
}

.center{
    text-align: center;
    padding: 10px;
}


img{
    width: "100%";
    max-width: 400px;
    height: "100%";
    max-height: 300px;
    padding: 2px;
    border: 2px solid;
    border-color: black;
    background-color: darkgray;
    
}

.License {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}



.Navigation {
    width: 200px;
    height: 200px;
    align-content: center;
}

.Nav {
    background-color: firebrick;
    cursor: pointer;
    padding: 20px;
}

.Nav:hover {
    background-color: darkgray;
    
}