
#TopHeader {
    padding-top: 20px;
    padding-left: ;
    padding-right: ;
    padding-bottom: 20px;
    color: gainsboro;
    background-color: darkgreen;
    font-size: 3rem;
}

h2 {
    color: dimgray;
    font-size: 2.5rem;
}

a {
    color: firebrick;
    font-size: 2rem;
    font-family: monospace;
    text-decoration: none;
    
}

body {
    background-color: chartreuse;
    padding-bottom: 2rem;
    
}

#NavigationBoard {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-size: 1.3rem;
    color: dimgray;
}

ul {
    list-style-position: inside;
    list-style-type: circle;
}

footer {
    position:absolute;
    background-color: darkgreen;
    height: 2em;
    width: 100%;
    text-align: center;
}


.center{
    text-align: center;
    padding: 10px;
}

.License {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}

.Nav {
    background-color: firebrick;
    cursor: pointer;
    padding: 20px;
}

.Nav:hover {
    background-color: darkgray;
    
}