
#TopHeader {
    padding-top: 20px;
    padding-left: ;
    padding-right: ;
    padding-bottom: 20px;
    color: gainsboro;
    background-color: darkgreen;
    font-size: 300%;
}

h2 {
    color: dimgray;
    font-size: 200%;
}

h3 {
    font-weight: bold;
    font-size: 125%;
}

h4 {
	font-weight: bold;
	font-size: 110%;
	
}


a {
    color: firebrick;
    font-size: 110%;
    font-family: monospace;
    text-decoration: none;
    
}

body {
    font-size: 125%;
    background-color: chartreuse;
    padding-bottom: 2rem;
    
}


ul {
    
    list-style-position: inside;
    list-style-type: circle;
    font-family: sans-serif;
    font-size: 80%;
}

.ulouter{
    display: block;
    border-style: dashed;
    border-width: 1px;
}

footer {
    position:absolute;
    background-color: darkgreen;
    height: 2em;
    width: 100%;
    text-align: center;
    font-size: 75%;
}

iframe {     
    background-color: 
        gainsboro;     
    display: inline;     
} 

.leftframe{     
    display: inline;     
    width: 70%;
    height: 250px;     
} 

.rightframe{     
    display: inline;    
    width: auto;
    height: 250px;
}
.center{
    text-align: center;
    padding: 10px;
}


.htmlcode {
    background-color: gainsboro
}

.License {
    color: black;
    text-decoration: none;
    font-size: 110%;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: 1px; /* Remove outline */
    background-color: firebrick; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: darkgray; /* Add a dark-grey background on hover */
}

.Nav {
    background-color: firebrick;
    cursor: pointer;
    padding: 20px;
    font-size: 90%;
}

.Nav:hover {
    background-color: darkgray;
    
}

pre {
    font-family: sans-serif;
    font-size: 1.1rem;
    margin: 1em 0;
    
}


.flex-container {
    display: -webkit-flex;
    display: flex;
    width: "100%";
    height: "100";
    background-color: lightgray;
}

.flex-item {
    background-color: lightgrey;
    width: 20%;
    height: 100px;
    margin: 0px;
}

.flex-item-mid {
    background-color: lightgray;
    width: 60%;
    height: 100%;
    margin: 20px;
}

.text {
    text-align: left;
    font-family: "Times New Roman", serif;
    font-size: 100%;
    word-spacing: inherit;
}

.img {
    display: block;
    height: auto;
    width:auto;
    margin: auto;
    max-width: 100%;
    max-height: 800px;
    padding: 2px;
    border: 2px solid;
    border-color: black;
    background-color: darkgray;
}

.imginline {
    display: inline;
    float: left
    height: auto;
    width:auto;
    margin: auto;
    max-width: 80%;
    max-height: 600px;
    padding: 2px;
    border: 2px solid;
    border-color: black;
    background-color: darkgray;
}

.imgsmall{
    display: block;
    text-align: center;
    height: auto;
    margin: auto;
    max-width: 600px;
    max-height: 400px;
    padding: 2px;
    border: 2px solid;
    border-color: black;
    background-color: darkgray;
    
}

.img1  {
	display: block;
    height: auto;
    width:auto;
    margin: auto;
    max-width: 100%;
    max-height: 1200px;
    padding: 2px;
    border: 2px solid;
    border-color: black;
    background-color: darkgray;
	
}

.imgpic {
	display: block;
    height: auto;
    width:auto;
    margin: auto;
    max-width: 90%;
    max-height: 500px;
    padding: 2px;
    border: 2px solid;
    border-color: black;
    background-color: darkgray;

}

mark {
    background-color: greenyellow;
    font-weight: bolder;
    color: black;
    
}

.completeframe {
    display: inline; 
    margin: 10px;
    width: 100%;
    height: 300px;
    
}

.pdf {
    width: 100%;
    height: 400px;
    margin: 10px;
    
}

object {
	
align-content: mid
	
	
}

