/* The code for body gives us the main features for my website */
body {
	font-family: Verdana;
	font-size: 12px;
	color: black;
	background-color: white;
} 

/* This section will define the width and the place of the website */ 
.main {
	width: 1000px;
	margin: auto;
}

/* This section defines the elements of the header picture */
.header-img {
	width: 1000px;
	float: left;
	background: url("SEA.jpg") no-repeat left top;
	height:161px;
}

/* This section defines the elements of the background picture of the top-menu */
.topmenu {
	background-image: url(../images/menubg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	text-align: center;
	width: 1000px;
	height: 43px;
	float: left;
}

/* This section places the elements of the top-menu in the center of the background
top-menu picture */
.topmenu ul {
	margin:0px;
	padding:0px 0px 0px 190px;
}

/* This section defines how the elements on the top-menu will look like */
.topmenu ul li {
	margin:0px;
	padding:0px 21px 0px 21px;
	font-family:Verdana;
	font-size: 12px;
	color: black;
	font-weight:bold;
	text-transform:uppercase;
	float:left;
	display:block;
	line-height:43px;
	background:url(../images/devider.jpg) no-repeat left top;
}

/* This section defines how will each element on the top-menu will look like */ 
.topmenu ul li a {
	color: black;
	text-decoration:none;
}

/* This section defines the borders of the paragraphs, pictures etc. on the main body */
.mid-left {
	background: white;
	width:704px;
	float:left;
}

/* This section defines the style, borders and the features of the elements on the
side navigation bar */
.mid-right-top {
    padding: 5px 0px 0px 5px;
	background:url(../images/right-bg-top.jpg) no-repeat left top;
	width:291px;
	float:left;
}
ul.right-nav {
	padding:20px 40px 20px 40px;
	list-style:none;
}
ul.right-nav li {
	padding:8px 0px 8px 0px;
	font-family:Verdana;
	font-size: 12px;
	color: gray;
	font-weight:normal;
	line-height:18px;
}
ul.right-nav li a {
	color: black;
	text-decoration:none;
}

/* It defines the gap between the header picture and the pictures or 
text inserted below */
.gap-1 {
	margin:0px;
	padding:25px 20px 20px 20px;
}

/* This section defines the features of the headers and the paragraphs. */
h1 {
	padding:7px 0px 7px 0px;
	font-family:Verdana;
	font-size: 24px;
	color: dodgerblue;
	line-height:30px;
	text-transform:uppercase;
}
h2 {
	padding:7px 0px 5px 0px;
	font-family:Verdana;
	font-size: 18px;
	color: black;
	font-weight:normal;
	line-height:24px;
	text-transform:uppercase;
}
p.txt-1 {
	padding:7px 0px 7px 0px;
	font-family:Verdana;
	font-size: 12px;
	color: black;
	font-weight:normal;
	line-height:18px;
}
pre{
    background-color: bisque;
    padding-right: 20px;
}