nav{
	width: auto;
	height: 50px;
	background-color: greenyellow;
	border-radius: 15px;	
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);	
    margin-left: 30px;
    margin-right: 30px;
}

nav ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

nav ul li:hover, nav ul li.active {
    background-color: rgba(0,0,0,0.1);
}

nav ul li {
    list-style-type: none;
   /* transition: background-color .3s; */
    padding: 0;
    float: left;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.textfieldcolor {
    width:auto;
    height: auto;
    margin: 25px;
    background-color: lightgreen;
    border-radius: 15px;
}

.textfield {
    width: auto;
    height: auto;
    padding: 20px;
}