.paragraphClass {
    margin: 10px;
    font-size: 25;
    color: white;
    background-color: midnightblue;
    text-align: center
}

body {
    
    color: black;
    text-align: center;
    
}

#header1 {
    background-color: midnightblue;
    color: midnightblue;
    font-family: cursive;
}