html {
	min-height:100%;
	position:relative;
}

body {
	margin-bottom:60px;
}

.footer {
	background-color:#f5f5f5;
	bottom:0;
	height:70px;
	position:absolute;
	width:100%;
}

.container .text-muted {
	margin:20px 0;
}

.footer > .container {
	padding-left:15px;
	padding-right:15px;
}

code {
	font-size:80%;
}